<section id="awards" class="section">
  <h2>Awards</h2>
  <div class="card">
    <div class="awards-item">
      <div class="award-title">Supernova</div>
      <div class="award-date">June 2022</div>
      <p>Peer-voted award across global business units for contribution to the larger software group and its projects</p>
    </div>
    <div class="awards-item">
      <div class="award-title">Standing Ovation</div>
      <div class="award-date">September 2021</div>
      <p>For consistent good performance over a period of time</p>
    </div>
    <div class="awards-item">
      <div class="award-title">Star Performer</div>
      <div class="award-date">January 2019</div>
      <p>For outstanding achievement on the project</p>
    </div>
  </div>
</section>
